VITE_AUCTION_CONTRACT_ID=CDJTNLT3WCAQ4RJOUKOTD7KMXXKUWHSHKMN4HXCCAS67FC4FHYSC67IA
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK=testnet
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_STELLAR_EXPLORER_BASE_URL=https://stellar.expert/explorer/testnet/tx/
VITE_AUCTION_ADMIN_ADDRESS=
